!!!
%html
  %head
    %title TuConstituyes
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{:href => "https://fonts.googleapis.com/css?family=Oswald", :rel => "stylesheet", :type => "text/css"}/
  %body
    %wrapper
      %nav.navbar.navbar-default
        %container-fluid
          .navbar-header
            %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to 'TúConstituyes', root_path, class: 'navbar-brand'
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active
              %a{:href => "#"}
                Noticias
                %span.sr-only (current)
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                Fuentes
                %span.caret
              %ul.dropdown-menu
                - @all_sources.each do |all_source|
                  %li
                    =link_to all_source.name, all_source
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                Regiones
                %span.caret
              %ul.dropdown-menu
                - @all_regions.each do |all_region|
                  %li
                    =link_to all_region[:name], region_path(all_region[:id])
          %form.navbar-form.navbar-left{:role => "search"}
            .form-group
              %input.form-control{:placeholder => "Buscar noticias", :type => "text"}/
            %button.btn.btn-default{:type => "submit"} Buscar
          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                Mi cuenta
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} Mis suscripciones
                %li
                  %a{:href => "#"} Mis etiquetas
                %li
                  %a{:href => "#"} Mi región
            %li
              = link_to 'Cerrar Sesión', destroy_user_session_path
      %container
        = yield
